<div class="side-panel">
    <h4 class="panel-title">General Setting</h4>
    <form method="post">
        <div class="setting-row">
            <span>Chế độ tối</span>
            <input type="checkbox" id="nightmode1"/> 
            <label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
        </div>
        <div class="setting-row">
            <span>Thông báo</span>
            <input type="checkbox" id="switch22" /> 
            <label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
        </div>
        <div class="setting-row">
            <span>Âm thanh thông báo</span>
            <input type="checkbox" id="switch33" /> 
            <label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
        </div>
        <div class="setting-row">
            <span>Thông tin người dùng</span>
            <input type="checkbox" id="switch44" /> 
            <label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
        </div>
        <div class="setting-row">
            <span>Show người dùng</span>
            <input type="checkbox" id="switch55" /> 
            <label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
        </div>
    </form>
    <h4 class="panel-title">Cài đặt tài khoản</h4>
    <form method="post">
        <div class="setting-row">
            <span>Thông tin tài khoản</span>
            <input type="checkbox" id="switch66" /> 
            <label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
        </div>
        <div class="setting-row">
            <span>Tài khoản cá nhân</span>
            <input type="checkbox" id="switch77" /> 
            <label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
        </div>
    </form>
</div><!-- side panel -->