<div class="messsageAlertPage">
    <div id="message-alert-show">
        <div id="popup1" class="overlay">
            <div class="popup">
                <h2 class="main-title" style="font-family: 'Roboto', sans-serif;">Thông báo</h2>
                <a class="close">×</a>
                <div class="content" style="font-family: 'Roboto', sans-serif;">
                    Thank to pop me out of that button
                </div>
            </div>
        </div>
    </div>
</div>