<div class="responsive-header">
    <div class="mh-head first Sticky">
        <span class="mh-btns-left">
            <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
        </span>
        <span class="mh-text">
            <a href="#" title=""><img src="/images/logo.png" alt="STD PORTAL Social Network TDTU"></a>
        </span>
        <span class="mh-btns-right">
            <a class="fa fa-sliders" href="#shoppingbag"></a>
        </span>
    </div>
    <div class="mh-head second">
        <form class="mh-form">
            <input placeholder="search" />
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <nav id="menu" class="res-menu">
        <ul>
            <li><span>Trang chủ</span> 
                <ul>
                    <li><a href="./" title="">Trang mạng xã hội</a></li>
                    <li><a href="https://stdportal.tdtu.edu.vn/" title="">Trang sinh viên</a></li>
                    <li><a href="./notification" title="">Thông báo</a></li>
                    <li><a href="./department" title="">Phòng ban</a></li>
                    <li><a href="./profile?id=<%= user._id %>" title="">Thông tin người dùng</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    
</div><!-- responsive header -->